= simple_form_for([:admins, @team], :defaults => {:input_html => {:class => 'span12'}}) do |f|
  = f.error_notification
  .row-fluid
    .span6.well
      .form-inputs
        = f.input :name
        = f.input :position
        = f.input :description, :input_html => {:rows => 3}
        = f.input :avatar
    .span6.well
      .form-inputs
        = f.input :mail
        = f.input :github_username
        = f.input :vidipanda_username
        = f.input :dudupress_username
        = f.input :twitter_username
        = f.input :facebook_username

  .form-actions
    .pull-right
      = f.button :submit
