= title "Şifrenizi Değiştir"
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  = f.input :reset_password_token, :as => :hidden
  = f.full_error :reset_password_token
  .inputs
    = f.input :password, :label => "New Password", :required => true
    = f.input :password_confirmation, :label => "Confirm New Password", :required => true
  .actions
    = f.button :submit, "Submit"
= render :partial => "devise/shared/links"