= simple_form_for([:admins, @customer], :defaults => {:input_html => {:class => 'span12'}}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :website
    = f.input :logo, :as => :file

  .form-actions
    = f.button :submit
