= title t('tt.index', resource_name: Customer.model_name.human)

- content_for :toolbar_left do
  = link_to(new_admins_customer_path, class: 'btn', rel: 'tooltip', title: t('tooltips.new')) do
    %i.icon-plus
  = link_to(admins_dashboard_index_path , class: 'btn', rel: 'tooltip', title: t('tooltips.back')) do
    %i.icon-arrow-left


%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Website
    %th{:width => "120px"}
  - @customers.each do |customer|
    %tr
      %td= customer.name
      %td= customer.website
      %td
        = link_to(admins_customer_path(customer), class: 'btn', rel: 'tooltip', title: t('tooltips.show')) do
          %i.icon-eye-open
        = link_to(edit_admins_customer_path(customer) , class: 'btn', rel: 'tooltip', title: t('tooltips.edit')) do
          %i.icon-pencil
        = link_to(admins_customer_path(customer), class: 'btn', confirm: t('confirm'), method: :delete, rel: 'tooltip', title: t('tooltips.delete')) do
          %i.icon-trash