- title "Home"

%hr.divider
#hero.row
  .span12
    %h1
      We build web
      %span.color &
      mobile applications
    / %h2.color Welcome to lab2023 - internet technologies
    %p We are big fans of open source. We use Ruby, Ruby On Rails, HTML5, CSS3, JavaScript and many cool technologies.
#what-we-do
  =link_to "SAAS Services", root_path(:anchor => "what-we-do-details"), :class => "rounded"
  =link_to "Consulting & Training", root_path(:anchor => "what-we-do-details"), :class => "rounded"
  =link_to "Open Source", root_path(:anchor => "what-we-do-details"), :class => "rounded"

%hr.divider

%a{:name => "works"}
#works.text-center.row-fluid
  .span12
    = render @projects

%hr.divider

%a{:name => "what-we-do-details"}
#what-we-do-details.row-fluid
  .span4
    .well
      =image_tag "saas-services.png", :width => 150, :height => 129
      %h3 SAAS Services
      %p
        We develop Saas services which are easy to use, clean and simple.
        Some of them are
        #{link_to "dudupress.com", "http://www.dudupress.com", :target => "_blank"},
        #{link_to "antdesk.com", "http://www.antdesk.com", :target => "_blank"},
        #{link_to "vidipanda.com", "http://www.vidipanda.com", :target => "_blank"},
        #{link_to "atunut.com", "http://www.atunut.com", :target => "_blank"},
        #{link_to "coninja.com", "http://www.coninja.com", :target => "_blank"}
  .span4
    .well
      =image_tag "consulting-and-training.png", :width => 150, :height => 129
      %h3 Consulting & Training
      %p
        We offer the full range of development consultancy services. Services we offer are strategy,
        planning and new development, rails fronted engineering,
        project rescue, code audit, deployment architecture consultancy.
  .span4
    .well
      =image_tag "open-source.png", :width => 150, :height => 129
      %h3 Open Source
      %p
        We believe in collaboration, that's why we contribute to open source software communities.
        We use open source technologies and give back the community.

%hr.divider

.well
  .row-fluid
    .span9
      Want to hire us ?
      %i.small.gray Click "Contact Us" button or call us: +90 258 215 5010
    =link_to "Contact Us", "/contact", :class => "span3 btn btn-mini"
