= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :website
    = f.input :owner
    = f.input :twitter_username
    = f.input :facebook_page

  .form-actions
    = f.button :submit
