= title t('tt.index', resource_name: Project.model_name.human)

- content_for :toolbar_left do
  = link_to(new_project_path, class: 'btn', rel: 'tooltip', title: t('tooltips.new')) do
    %i.icon-plus


%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Description
    %th Website
    %th Owner
    %th Twitter username
    %th Facebook page
    %th{:width => "120px"}
  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.description
      %td= project.website
      %td= project.owner
      %td= project.twitter_username
      %td= project.facebook_page
      %td
        = link_to(project, class: 'btn', rel: 'tooltip', title: t('tooltips.show')) do
          %i.icon-eye-open
        = link_to(edit_project_path(project) , class: 'btn', rel: 'tooltip', title: t('tooltips.edit')) do
          %i.icon-pencil
        = link_to(project, class: 'btn', confirm: t('confirm'), method: :delete, rel: 'tooltip', title: t('tooltips.delete')) do
          %i.icon-trash