!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title lab2023 - Administration | #{yield :title || "Hoşgeldiniz"}
    %meta{:content => "lab2023 - internet technologies", :name => "author"}/
    = stylesheet_link_tag "admins", "http://fonts.googleapis.com/css?family=PT+Sans", :media => "all"
    = javascript_include_tag "admins"
    = favicon_link_tag "favicon.png", :type => "image/png"
    = csrf_meta_tags
    = yield :head
  %body
    / Header
    - if current_admin
      %header.navbar.navbar-fixed-bottom
        = render :partial => "layouts/admins/nav"
    /Contents
    .container{:id => !current_admin ? "login" : "contents"}
      %h1.page-header= yield :title
      .wrapper.row-fluid
        .span12.wrap
          .head
            .span6.pull-left
              = yield :toolbar_left
            .span6.pull-right
              = yield :toolbar_right
            .clearfix
          / Messages
          = render :partial => "layouts/shared/messages"
          = yield