= title t('nav.open_source_extra')

%hr.divider/
.text-center.hero
  %h1= t('nav.open_source_extra')
  We are developing open source projects
%hr.divider/

- @open_sources.each do |open_source|
  .well
    %h3.title= open_source.name
    %p= open_source.description
    = link_to "Documentation", open_source_path(open_source)
    |
    = link_to "Github", open_source.repository_url
