= title t('open_sources')
//http://plataformatec.com.br/open-source


- @open_sources.each do |open_source|
  %h3.title= open_source.name
  %hr
  %p= open_source.description
  = link_to "Documentation", open_source_path(open_source)
  |
  = link_to "Github", "https://github.com/#{open_source.repostory_url}"