= title t('nav.open_source_extra')

- content_for :hero_description do
  We believe in collaboration, that's why we contribute to open source software communities.

- @open_sources.each do |open_source|
  %h3.title= open_source.name
  %hr
  %p= open_source.description
  = link_to "Documentation", open_source_path(open_source)
  |
  = link_to "Github", "https://github.com/#{open_source.repostory_url}"