#mini-nav.dark-bg
  .container
    %ul.nav
      %li=link_to "Github", "http://www.github.com/lab2023", :target => "_blank"
      %li=link_to "Facebook", "http://www.facebook.com/lab2023" , :target => "_blank"
      %li=link_to "Twitter", "http://www.twitter.com/lab2023", :target => "_blank"
      %li=link_to "Blog", "http://blog.lab2023.com"
      %li=link_to "Concat", "#"
%nav#main-nav.navbar-inner
  .container
    %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a#logo.brand{:href => root_url}
      = image_tag "logo.png"
    .nav-collapse
      %ul.nav.pull-right
        %li= link_to "Home", root_path
        %li= link_to "Team", team_path
        %li= link_to "Works", works_path
        %li= link_to "Open Source", open_sources_path
